.lg-icon {
    transform: scale(2.5);
    margin: 15px 25px 10px 25px;
  }
  .page-box {
    background-color: #f7f6f6;
  }
  .page-head {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  
  .text {
    font-size: 25px;
  }
  
  .btn > p {
    margin-left: 10px;
  }
  
  .btn {
    display: flex;
    align-items: center;
    margin: 10px 10px 30px;
  }
  .word {
    color: grey;
    
  }
  .word:hover{
    cursor: pointer;
    
  }
  .info {
    margin: 15px 0 15px 0;
  }
  .info-n {
    display: flex;
    margin-bottom: 15px;
  }
  .b1 {
    margin-left: auto;
    margin-right: 30%;
  }
  .meaning {
    font-size: small;
  }
  